name: CI

on:
  push:
    branches: [ "githubCI" ]
  pull_request:
    branches: [ "githubCI" ]
  workflow_dispatch:

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Maven cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven

      - name: Install Google Chrome and matching ChromeDriver
        run: |
          sudo apt update
          sudo apt install -y wget unzip curl gnupg2

          # Install Chrome
          wget https://dl.googl
